<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Spike Example" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav>
          <ul>
            <li><a href="https://hexdocs.pm/spike/">Spike documentation</a></li>
            <li><a href="https://hexdocs.pm/spike-liveview/">Spike.LiveView documentation</a></li>
            <li><a href="https://hexdocs.pm/spike-surface/">Spike.Surface documentation</a></li>
          </ul>
        </nav>
        <a href="https://github.com/hubertlepicki/spike/" class="phx-logo">
          <img src={Routes.static_path(@conn, "/images/spike-logo.png")} alt="Spike Logo"/>
        </a>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
